# Always auth with the registry
always-auth=true

# tag the new version
git-tag-version=true

# Token with "packages:read" scope (Github Packages)
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

# Default registry (NPM)
registry=https://registry.npmjs.org

# The Shiftsmart registry (Github Packages)
@shiftsmartinc:registry=https://npm.pkg.github.com
